/*Global*/
.dash-main {
    padding: 0px;
    background-color: black;
}

.page-title {
    color: white;
    font: 48px "Helvetica", sans-serif;
    font-weight: bold;
}

.body {
    color: white;
    font: 16px "Helvetica", sans-serif
}

.body-m {
    color: white;
    font: 14px "Helvetica", sans-serif;
    font-weight: bold;
}

.body-m-blk {
    font: 14px "Helvetica", sans-serif;
    font-weight: bold;
}

.row {
    border-style: none !important;
}

.body-sm {
    color: white;
    font: 12px "Helvetica", sans-serif;
    font-weight: 600;
}

.body-sm-blk {
    font: 12px "Helvetica", sans-serif;
    font-weight: 600;
}

.cal-subhead {
    color: white;
    font: 16px "Helvetica", sans-serif;
    font-weight: bold;
}

.right-subhead {
    font: 20px "Hevletica", sans-serif;
    font-weight: 600;
    color: white;
}

h1 {
    color: white;
    font: bold 30px "Helvetica", sans-serif
}

h2 {
    color: white;
    font: bold 30px "Helvetica", sans-serif
}

.icon {
    height: 30px;
    width: auto;
}

.icon-sm {
    height: 15px;
    width: auto;
}

.icon-sm:hover {
    cursor: pointer;
}

button {
    border-radius: 6px;
    font-size: 12px;
}

/*Mobile Nav*/

.mobile-nav {
    padding: 8px 0px;
    background-color: #2E2E2E !important;
    right: 0px !important;
    width: 100%;
    margin: 0px;
}

.nav-subhead {
    border: 1px solid black;
    padding: 8px 0;
}

.nav-subhead p {
    margin-bottom: -8px;
    line-height: 1.5;
    padding-bottom: 8px;
}

.nav-item {
    text-align: center;
}

/*Left Nav*/

.sidebar-link {
    color: white;
    font: bold 12px "Helvetica", sans-serif
}

.sidebar-link:hover {
    color: white;
    text-decoration: none;
}

.sidebar-tool {
    color: #9D9C9C;
    font: bold 12px "Helvetica", sans-serif
}

.sidebar-tool:hover {
    color: #9D9C9C;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #414343;
    cursor: pointer;
}

.current-page {
    background-color: #4E5052;
    padding: 0;
}

.dash-bar {
    padding: 8px 16px;
}

.nav-tag {
    width: 16px;
    height: 40px;
    background-color: #0086CF;
    padding: 0px 12px;
}

.side-nav {
    background-color: #2E2E2E;
    min-height: 100%;
}

.nav-header {
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    cursor: pointer;
}

.spacer-nav {
    height: 51vh;
}

.side-icon {
    height: 24px;
    width: auto;
}

/*Center Content*/

.main-content {
    padding: 4px;
}

.add-resource {
    max-width: 150px;
}

.nav-link.active {
    background-color: lightblue !important;
}

.resource-list {
    border: 1px solid black;
}

.resource-card {
    min-height: 196px;
    border: 1px solid black;
    position: relative;
}

/*Right Sidebar*/
.right-sidebar {
    background-color: #2E2E2E;
}

.icon {
    width: 48px;
}

.icon:hover {
    cursor: pointer;
}

.profile {
    height: 48px;
    width: auto;
}

.search {
    width: 57%;
}

.filter-brand { 
    width: 90%;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.filter-search {
    width: 131px;
    position: absolute;
    right: 24px;
}
/*Media Queries*/

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }
}
@media (max-width: 768px) {
    .right-sidebar, .side-nav {
        display: none;
    }
}